:root {
  --colors-text-base: #c4c4cc;
  --colors-text-title: #e1e1e6;
  --colors-border-base: rgb(54, 54, 54);
  --colors-gray-low: #7c7c8a;
  --colors-gray-mid: #202024;
  --colors-gray-dark: #121214;
  --colors-purple-light: #996dff;
  --colors-purple-mid: #8257e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  padding: 30px;
  background-color: var(--colors-gray-dark);
  color: var(--colors-text-base);
}

#app {
  max-width: 600px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
